input:not([type="checkbox"]),
textarea {
    border: 0.1rem solid gray;
    outline: none;
    padding: 2rem;
    width: 100%;
    border-radius: 1rem;
    background: white;
}

input:focus,
textarea:focus {
    border: 0.1rem solid var(--orange);
}

.dataInput textarea {
    padding-top: 5rem;
    overflow: hidden;
    resize: none;
    min-height: 15rem;
}

.dataInput textarea::placeholder {
    color: black;
}

/* .hint {
    color: var(--orange);
    position: absolute;
    top: 0.5rem;
    font-size: 1.2rem;
    right: 2rem;
    width: 35%;
    text-align: end;
    visibility: hidden;
} */

input:invalid {
    box-shadow: none;
}

input[type="checkbox"] {
    transform: scale(2);
    align-self: flex-start;
    cursor: pointer;
}

form div:last-of-type {
    font-size: 1.6rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

#consent ~ label {
    display: block;
}

h2,
h2 ~ a,
input[type="submit"] {
    font-size: var(--mobFontSize);
}

@media screen and (min-width: 1000px) {
    .form {
        margin-bottom: 5rem;
        min-width: 50rem;
        width: 50rem;
    }

    h2 {
        font-size: var(--desFontSizeS);
    }
}

@media screen and (min-width: 1500px) {
    h2 {
        font-size: var(--desFontSizeM);
    }
}

@media screen and (min-width: 1920px) {
    h2 {
        font-size: var(--desFontSizeL);
    }
}
