.branding {
    margin-top : 2rem;
    width      : 25rem;
    }

.branding > img {
    width         : 100%;
    height        : auto;
    margin-left   : 2rem;
    margin-bottom : 10rem;
    }

@media screen and (min-width : 1000px) {
    header {
        margin-bottom : 20rem;
        margin-left   : -10rem;
        }

    .branding > img {
        margin-bottom : 0;
        }
    }